.ContentTop {
  display: flex;
  gap: 80px;

  padding: 50px 0;
}

.ContentTop .contentTop_left {
  width: 75%;
  height: 350px;
}

.ContentTop .contentTop_right {
  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .ContentTop {
    flex-direction: column;
  }
  .ContentTop .contentTop_left {
    width: 100%;
  }

  .ContentTop .contentTop_right {
    gap: 10px;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 566px) {
  .ContentTop .contentTop_right {
    flex-wrap: wrap;
  }
}
