.ContentTop {
  display: flex;
  gap: 80px;

  padding: 50px 0;
}

.ContentTop .contentTop_left {
  width: 75%;
  height: 350px;
}

.ContentTop .contentTop_right {
  width: 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
