.ContentTop {
  width: 100%;
  display: flex;
  gap: 40px;
}

.ContentTop .contentTop_left {
  width: 75%;

  height: 350px;
}

.ContentTop .contentTop_right {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
