.LeftContent {
  padding-right: 30px;
  /*카드 오른쪽 대기공간 확보*/
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LeftContent .swiper {
  width: 100%;
  height: 350px;
}

.LeftContent .mySwiper {
  position: relative;
}

.LeftContent .swiper-slide {
  width: 100%;
  height: 350px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.LeftContent .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.LeftContent .swiper_type {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.LeftContent .swiper_text {
  position: absolute;
  top: 30%;
  left: 5%;
  right: 5%;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.LeftContent .swiper_link {
  position: absolute;
  bottom: 12%;
  left: 5%;
  font-size: 1rem;
  border-radius: 30px;
  background-color: black;
  padding: 20px 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: black;
}

.LeftContent .leftcontent_custom {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  gap: 10px;
}

.LeftContent .custom-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.LeftContent .leftcontent-button-next::after,
.LeftContent .leftcontent-button-prev::after {
  display: none !important;
}

.LeftContent .leftcontent-button-next,
.LeftContent .leftcontent-button-prev {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

.LeftContent .leftcontent-button-next {
  background-image: url("../../assets/icon_arrow_right.svg");
}

.LeftContent .leftcontent-button-prev {
  background-image: url("../../assets/icon_arrow_left.svg");
}
