.RightContent {
  display: flex;
  flex-direction: column;

  border-radius: 16px;
  padding: 24px;
  gap: 10px;
  color: #fff;

  background-size: 90px auto;
  background-repeat: no-repeat;
  background-position: right bottom;

  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}

.RightContent > a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  opacity: 0.7;
}

.RightContent.chart {
  background-image: url("../../assets/bg_chart.svg");
  background-color: #f54b1e;
}
.RightContent.glass {
  background-image: url("../../assets/bg_glass.svg");
  background-color: #e43608;
}

.RightContent.datalab {
  background-image: url("../../assets/datalab.svg");
  background-color: #f54b1e;
}
