.ContentMid3 {
  width: 100%;
  display: flex;
  gap: 80px;
  padding: 50px 0;
}

.ContentMid3 .contentMid3_left {
  width: 75%;
}
.ContentMid3 .contentMid3_right {
  width: 25%;
}

.ContentMid3 .right_wrapper {
  width: 100%;
  background-color: #c8b9ff;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15%;
}

.ContentMid3 .right_content > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  padding-top: 15%;
}

.ContentMid3 .right_link {
  text-decoration: none;
}

.ContentMid3 .left_text {
  font-size: 10px;
}

.ContentMid3 .contentMid3_subTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 30px;
}
.ContentMid3 .contentMid3_subTitle > span {
  font-size: 16px;
  color: #999999;
}

.ContentMid3 .news {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.ContentMid3 .contentMid3_title {
  display: flex;
  justify-content: space-between;
}
.ContentMid3 .news {
  font-weight: bold;
  color: #999999;
}

.ContentMid3 .news.active {
  font-weight: bold;
  color: black;
}

/* 뉴스컨텐츠 css */
.ContentMid3 .news_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ContentMid3 .news_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ContentMid3 .news_date {
  font-size: 0.8rem;
  color: #999999;
}

.ContentMid3 .news_link {
  text-decoration: none;
}

.ContentMid3 .news_title {
  color: black;
}

.ContentMid3 .news_title:hover {
  text-decoration: underline;
}
