.ContentMid4 .mid4_title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.ContentMid4 .contentWrapper {
  display: flex;
  justify-content: space-between;
}

.ContentMid4 {
  background-color: #f5ebe1;
  padding-top: 70px;
  padding-bottom: 90px;
}

.ContentMid4 .mid4_subTitle {
  font-size: 2rem;
  font-weight: 600;
}

.ContentMid4 .contentWrapper > a {
  text-decoration: none;
}

.ContentMid4 .mid4_sub {
  border-radius: 50px;
  background-color: #f25430;
  padding: 20px 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.ContentMid4 .mid4_sns_wrapper {
  display: flex;
  gap: 25px;
}

/* 반응형 모바일가로 & 태블릿 세로 */
@media (max-width: 768px) {
  .ContentMid4 .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .ContentMid4 .mid4_sns_wrapper {
    justify-content: center;
  }
}
