.Carousel {
  position: relative;
}

.Carousel .carousel_link {
  text-decoration: none;
}

.Carousel .swiper-wrapper {
  position: relative;
  padding-bottom: 5%;
}

.Carousel .carousel_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* ///////////// */
/* 연구보고서 css */
/* ///////////// */
.Carousel .type_report .carousel_img {
  width: 80%;
  height: 100%;
  /* object-fit: cover; */
  transition: all 0.3s ease;
}

.Carousel .type_report .carousel_date {
  font-size: 0.9rem;
  text-decoration: none;
  color: #999999;
}

.Carousel .type_report > img:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.Carousel .report_date {
  margin-top: 15px;
}

.Carousel .custom-button-prev,
.Carousel .custom-button-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

.Carousel .custom-button-next {
  background-image: url("../assets/icon_arrow_right.svg");
  right: -25px;
}

.Carousel .custom-button-prev {
  background-image: url("../assets/icon_arrow_left.svg");
  left: -25px;
}

.Carousel .content_content {
  color: #f54b1e;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 0;
}

.content_text {
  font-size: 1.2rem;
  text-align: left;
  color: black;

  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.content_date {
  padding: 10px 0;
  font-size: 0.8rem;
  color: #999999;
}

.content_img {
  width: 100%;
  border-radius: 20px;
}

/* ///////// */
/* trend css */
/* ///////// */
.type_trend {
  width: 100% !important;
  height: auto;

  position: relative;
}
.trend_img {
  height: 300px;

  border-radius: 16px;

  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.trend_text,
.trend_date {
  position: absolute;
  color: white;
  padding: 0 15%;
}

.trend_text {
  top: 70%;
}

.trend_date {
  top: 87%;
}

/* ////////////// */
/* pagination css */
/* ////////////// */
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: black;
}

.custom-pagination-trend {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 18px;
}
