.ContentMid1 {
  width: 100%;
  display: flex;
  gap: 80px;

  padding: 30px 0 50px 0;
}
.ContentMid1 .contentMid1_left {
  width: 75%;
}

.ContentMid1 .contentMid1_right {
  width: 25%;
}

.rightContent_wrapper {
  width: 100% !important;
  padding-right: 80px;
}

@media (max-width: 1100px) {
  .ContentMid1 .rightContent_wrapper {
    padding-right: 0px;
  }
}

/* 반응형 모바일가로 & 태블릿 세로 */
@media (max-width: 768px) {
  .ContentMid1 {
    flex-direction: column;
  }
  .ContentMid1 .contentMid1_left,
  .ContentMid1 .contentMid1_right {
    width: 100%;
  }
  .ContentMid1 .rightContent_wrapper {
    padding-right: 0px;
  }
}
