.ContentMid1 {
  width: 100%;
  display: flex;
  gap: 80px;

  padding: 30px 0 50px 0;
}
.ContentMid1 .contentMid1_left {
  width: 75%;
}

.ContentMid1 .contentMid1_right {
  width: 25%;
}

.rightContent_wrapper {
  width: 100% !important;
  padding-right: 80px;
}
