.ContentMid1 {
  width: 100%;
  display: flex;
  gap: 80px;

  padding: 0 88px;

  padding-top: 30px;
}
.ContentMid1 .contentMid1_left {
  width: 75%;
}

.ContentMid1 .contentMid1_right {
  width: 25%;
  display: flex;
}
