.ContentMid1 {
  position: relative;
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  display: flex;
  gap: 80px;

  padding-top: 30px;
}
.ContentMid1 .contentMid1_left {
  width: 75%;
}

.ContentMid1 .contentMid1_right {
  width: 25%;
  display: flex;
}
