.LeftCarousel {
  width: 100%;
  height: 100%;

  overflow: visible; /* 필수 */
  position: relative; /* 버튼 절대 위치 기준 */
}

.LeftCarousel .leftCarousel {
  width: 100%;
  display: flex;
}

.LeftCarousel .swiper-slide {
  width: 100%;
  cursor: pointer;
  /* background-color: #eee; 확인용 */
}

.LeftCarousel .swiper-slide > img {
  width: 100%;
  border-radius: 20px;
}

.LeftCarousel .leftCarousel_type {
  color: #f54b1e;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 0;
}

.LeftCarousel .leftCarousel_text {
  font-size: 1.2rem;
  text-align: left;

  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.LeftCarousel .leftCarousel_text:hover {
  text-decoration: underline;
}

.LeftCarousel .leftCarousel_date {
  padding: 10px 0;
  font-size: 0.8rem;
  color: #999999;
}

.LeftCarousel .leftcarousel-button-next::after,
.LeftCarousel .leftcarousel-button-prev::after {
  display: none !important;
}

.LeftCarousel .leftcarousel-button-next,
.LeftCarousel .leftcarousel-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

.LeftCarousel .leftcarousel-button-next {
  background-image: url("../../assets/icon_arrow_right.svg");
  right: -25px;
}

.LeftCarousel .leftcarousel-button-prev {
  background-image: url("../../assets/icon_arrow_left.svg");
  left: -25px;
}
