.RightCarousel {
  width: 100%;
  height: auto;
  padding-right: 80px;

  position: relative;
  /* display: flex; */
}

.RightCarousel .rightCarousel_img {
  width: 250px;
  height: 300px;

  border-radius: 16px;

  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.RightCarousel .rightCarousel_text,
.RightCarousel .rightCarousel_date {
  position: absolute;
  color: white;
  padding: 0 45px;
}

.RightCarousel .rightCarousel_text {
  top: 70%;
}
.RightCarousel .rightCarousel_date {
  top: 90%;
}
.RightCarousel .rightCarosel_text_wrapper {
  display: flex;
  flex-direction: column;
}

.RightCarousel .rightCarousel-custom-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 18px;
}
.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: black;
}

.RightCarousel .rightcarousel-button-prev,
.RightCarousel .rightcarousel-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
}

.RightCarousel .rightcarousel-button-next {
  background-image: url("../../assets/icon_arrow_right.svg");
  right: 55px;
}

.RightCarousel .rightcarousel-button-prev {
  background-image: url("../../assets/icon_arrow_left.svg");
  left: -25px;
}
